# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Set the basic formatting for all files
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
